<p>
  <b>Informationen über die Erhebung personenbezogener Daten</b>
</p>
<p>
    Im Folgenden informieren wir Sie über die Erhebung und Verarbeitung
    personenbezogener Daten gem. Art. 4 der EU-Datenschutz-Grundverordnung
    (DS-GVO) bei Nutzung dieser Website.
</p>
<p>
    Wir verarbeiten personenbezogene Daten, die beim Besuch unserer Webseiten
    erhoben werden, unter Beachtung der geltenden datenschutzrechtlichen
    Bestimmungen. Ihre Daten werden von uns weder veröffentlicht, noch
    unberechtigt an Dritte weitergegeben.
</p>
<p>
    Bei Ihrer Kontaktaufnahme mit uns per E-Mail werden die von Ihnen
    mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre
    Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten. Die in
    diesem Zusammenhang anfallenden Daten löschen wir, nachdem die Speicherung
    nicht mehr erforderlich ist, oder schränken die Verarbeitung ein, falls
    gesetzliche Aufbewahrungspflichten bestehen.
</p>
<p>
    <b>A. Allgemeine Angaben</b>
</p>
<h4>
    1. Name und Kontaktdaten des Verantwortlichen
</h4>
<p>
    Verantwortlicher gem. Art. 4 Abs. 7 der DS-GVO ist der
</p>
<p>
    Dachverband Deutscher Avifaunisten (DDA) e.V.
</p>
<p>
    An den Speichern 2
    <br/>
    48157 Münster
</p>
<p>
    Tel.: 0251 / 210140-0
    <br/>
    Fax: 0251 / 210140-29
    <br/>
    E-Mail: <u><a href="mailto:info@dda-web.de">info@dda-web.de</a></u>
</p>
<h4>
    2. Datenschutzbeauftragter
</h4>
<p>
    Für Fragen und Auskünfte rund um das Thema Datenschutz steht Ihnen der
    Datenschutzbeauftragte des DDA zur Verfügung:
</p>
<p>
    Beauftragte/r für den Datenschutz im DDA
</p>
<p>
    An den Speichern 2
    <br/>
    48157 Münster
</p>
<p>
    Tel.: 0251 / 210140-0
</p>
<h4>
    3. Umfang der Datenverarbeitung
</h4>
<p>
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener
    Daten möglich. Wir erheben und verwenden personenbezogene Nutzerdaten
    grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen
    Website sowie unserer Inhalte und Leistungen erforderlich ist. Die Erhebung
    und Verwendung personenbezogener Daten unserer Nutzer erfolgt regelmäßig
    nach Einwilligung der Nutzer. Eine Ausnahme gilt in solchen Fällen, in
    denen die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet
    ist.
</p>
<h4>
    4. Rechtsgrundlage für die Verarbeitung personenbezogener Daten
</h4>
<p>
    Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine
    Einwilligung der betroffenen Person einholen, dient Art. 6 Abs. 1 lit. a
    EU-Datenschutzgrundverordnung (DS-GVO) als Rechtsgrundlage.
</p>
<p>
    Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines
    Vertrages, dessen Vertragspartei die betroffene Person ist, erforderlich
    ist, dient Art. 6 Abs. 1 lit. b DS-GVO als Rechtsgrundlage. Dies gilt auch
    für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen
    erforderlich sind.
</p>
<p>
    Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer
    rechtlichen Verpflichtung erforderlich ist, der wir unterliegen, dient Art.
    6 Abs. 1 lit. c DS-GVO als Rechtsgrundlage.
</p>
<p>
    Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder
    einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten
    erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.
</p>
<p>
    Ist die Verarbeitung zur Wahrung eines berechtigten Interesses des
    Verantwortlichen oder eines Dritten erforderlich und überwiegen die
    Interessen, Grundrechte und Grundfreiheiten des Betroffenen das
    erstgenannte Interesse nicht, so dient Art. 6 Abs. 1 lit. f DSGVO als
    Rechtsgrundlage für die Verarbeitung.
</p>
<h4>
    5. Datenlöschung und Speicherdauer
</h4>
<p>
    Die personenbezogenen Daten der betroffenen Person werden gelöscht oder
    gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann
    darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen
    Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen
    Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine
    Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die
    genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass
    eine Erforderlichkeit zur weiteren Speicherung der Daten für einen
    Vertragsabschluss oder eine Vertragserfüllung besteht.
</p>
<h4>
    6. Sicherheit
</h4>
<p>
    Der DDA setzt technische und organisatorische Sicherheitsmaßnahmen ein, um
    die personenbezogenen Daten der Nutzer gegen zufällige oder vorsätzliche
    Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter
    Personen zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der
    technologischen Entwicklung fortlaufend verbessert.
</p>
<p>
    <b>B. Erhebung personenbezogener Daten beim Besuch unserer Website</b>
</p>
<h4>
    1. Nutzung der Website ohne Login
</h4>
<p>
    Wenn Sie sich nicht auf unserer Webseite einloggen oder uns anderweitig
    Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die
    Ihr Browser an unseren Server übermittelt.
</p>
<p>
    Wenn Sie unsere Website betrachten möchten, erheben wir die nachfolgend
    aufgeführten Daten, die für uns technisch erforderlich sind, um Ihnen
    unsere Website anzuzeigen und die Stabilität und Sicherheit unserer
    informationstechnischen Systeme zu gewährleisten. Zudem dienen uns die
    Daten zur Optimierung der Webseiten. Die Daten werden in den Logfiles
    unserer Systeme gespeichert. Eine Speicherung dieser Daten zusammen mit
    anderen personenbezogenen Daten des Nutzers findet nicht statt
    (Rechtsgrundlage ist Art. 6 Abs. 1 DS-GVO):
</p>
<ul>
    <li>
        <p>
            IP-Adresse
        </p>
    </li>
    <li>
        <p>
            Datum und Uhrzeit des Zugriffs
        </p>
    </li>
    <li>
        <p>
            Adresse der aufgerufenen Seiten
        </p>
    </li>
    <li>
        <p>
            Adresse der zuvor besuchten Webseite (Referrer)
        </p>
    </li>
    <li>
        <p>
            Name und Version Ihres Browsers und Betriebssystems (sofern
            übertragen)
        </p>
    </li>
</ul>
<p>
    Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
    Erhebung nicht mehr erforderlich sind. Im Falle der Speicherung der Daten
    in Logfiles ist dies nach spätestens zwei Wochen der Fall. Eine
    darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die
    IP-Adressen der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung des
    aufrufenden Clients nicht mehr möglich ist.
</p>
<p>
    Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung
    der Daten in Logfiles ist für den Betrieb der Webseite zwingend
    erforderlich. Es besteht folglich seitens des Nutzers keine
    Widerspruchsmöglichkeit.
</p>
<p>
    Soweit auf unseren Seiten darüber hinausgehend personenbezogene Daten
    (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
    erfolgt dies stets auf freiwilliger Basis.
</p>
<h4>
    2. Nutzung der Website mit Login
</h4>
<p>
    Wir bieten auf unserer Webseite die Möglichkeit, sich mit vorhandenen
    Nutzerdaten einzuloggen. Dies geschieht freiwillig und ist nur nach
    vorheriger Registrierung bei ornitho.de möglich. Die Verarbeitung
    personenbezogener Daten erfolgt dementsprechend nicht im Rahmen unserer
    Webseite, sondern ausschließlich von ornitho.de. Bitte beachten Sie die
    dortigen
    <u>
        <a href="https://www.ornitho.de/index.php?m_id=1129&amp;item=11" target="_blank">
            Datenschutzhinweise
        </a>
    </u>
</p>
<h4>
    3. Nutzung von Diensten Dritter
</h4>
<p>
    a) Google Analytics
</p>
<p>
    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google
    Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien,
    die auf Ihrem Computer gespeichert werden und die eine Analyse der
    Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten
    Informationen über Ihre Benutzung dieser Website werden in der Regel an
    einen Server von Google in den USA übertragen und dort gespeichert. Im
    Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre
    IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen
    Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen
    Wirtschaftsraum zuvor gekürzt.
    <br/>
    Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google
    in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser
    Website wird Google diese Informationen benutzen, um Ihre Nutzung der
    Website auszuwerten, um Reports über die Websiteaktivitäten
    zusammenzustellen und um weitere mit der Websitenutzung und der
    Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber
    zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser
    übermittelte IP-Adresse wird nicht mit anderen Daten von Google
    zusammengeführt.
    <br/>
    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung
    Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass
    Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
    vollumfänglich werden nutzen können. Sie können darüber hinaus die
    Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website
    bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung
    dieser Daten durch Google verhindern, indem sie das unter dem folgenden
    Link verfügbare Browser-Plugin herunterladen und installieren:
    <u>
        <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">
            http://tools.google.com/dlpage/gaoptout?hl=de
        </a>
    </u>
</p>
<p>
    Weitere Informationen von Google über den Umgang mit Nutzerdaten
    (Datenschutzerklärung) erhalten Sie auf:
    <u>
        <a href="http://www.google.com/intl/de/policies/privacy" target="_blank">
            http://www.google.com/intl/de/policies/privacy
        </a>
    </u>
</p>
<p>
    b) Vimeo-Plugins und Vimeo-Videos
</p>
<p>
    Auf dieser Webseite sind Videos des Portals Vimeo abrufbar. Dazu nutzen wir die
    entsprechenden Plugins des Anbieters Vimeo Inc., 555 West 18th Street, New York,
    New York 10011, USA.
</p>
<p>
    Wenn Sie eine Seite besuchen, auf der ein Video mit einem Vimeo-Plugin eingebettet ist,
    wird eine Verbin­dung zu den Servern von Vimeo herge­stellt. Dadurch wird die Information
    an die Vimeo-Server in den USA übermittelt, welche Seite Sie besucht haben, ebenso Ihre IP-Adresse.
    Falls Sie mit Ihrem Vimeo-Account einge­loggt sind, ermög­li­chen Sie Vimeo,
    Ihr Surf­ver­hal­ten direkt Ihrem persön­li­chen Profil zuzu­ord­nen.
</p>
<p>
    Die Nutzung von Vimeo erfolgt mit dem Ziel, Ihnen die Nutzung der Seite zu erklären.
    Das stellt ein berech­tig­tes Inter­esse im Sinne von Art. 6 Abs. 1 lit. f DS-GVO dar.
</p>
<p>
    Weitere Infor­ma­tio­nen zum Umgang mit den erfassten Nutzer­da­ten durch Vimeo finden Sie
    in der Daten­schutz­er­klä­rung von Vimeo unter: 
    <u>
        <a href="https://​vimeo.​com/​privacy" target="_blank">
            https://​vimeo.​com/​privacy
        </a>
    </u> 
</p>
<p>
    <b>C. Recht der betroffenen Personen</b>
</p>
<p>
    Als betroffene Person, deren personenbezogene Daten im Rahmen der oben
    genannten Dienste erhoben werden, haben Sie grundsätzlich folgende Rechte,
    soweit in Einzelfällen keine gesetzlichen Ausnahmen zur Anwendung kommen:
</p>
<ul>
    <li>
        <p>
            Recht auf Auskunft (Art. 15 DS-GVO)
        </p>
    </li>
    <li>
        <p>
            Recht auf Berichtigung (Art. 16 DS-GVO)
        </p>
    </li>
    <li>
        <p>
            Recht auf Löschung (Art. 17 Abs. 1 DS-GVO)
        </p>
    </li>
    <li>
        <p>
            Recht auf Einschränkung der Verarbeitung (Art. 18 DS-GVO)
        </p>
    </li>
    <li>
        <p>
            Recht auf Datenübertragbarkeit (Art. 20 DS-GVO)
        </p>
    </li>
    <li>
        <p>
            Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DS-GVO)
        </p>
    </li>
    <li>
        <p>
            Recht auf Widerruf der Einwilligung (Art. 7 Abs. 3 DS-GVO)
        </p>
    </li>
    <li>
        <p>
            Sie haben zudem das Recht, sich bei einer
            Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer
            personenbezogenen Daten durch uns zu beschweren (Art. 77 DS-GVO).
        </p>
    </li>
</ul>
