<p>
  <b>Anbieter/Herausgeber</b>
</p>
<p>
  Anbieter der Internetpräsenz ornitho-regioportal.de im Rechtssinne ist der
  Dachverband Deutscher Avifaunisten (DDA) e.V.
  <p>
  vertreten durch
  </p>
  den Vorsitzenden Bernd Hälterlein,
  <br/>
  den stellvertretenden Vorsitzenden Johannes Schwarz und
  <br/>
  den Schatzmeister Werner Eikhorst
  <br/>
  <br/>
  <b>Adresse</b>
</p>
<p>
  An den Speichern 2
  <br/>
  48157 Münster
</p>
<p>
  Tel.: 0251 / 210140-0
  <br/>
  Fax: 0251 / 210140-29
  <br/>
  E-Mail: info@dda-web.de
</p>
<p>
  <b>Rechtsträger</b>
</p>
<p>
  Dachverband Deutscher Avifaunisten (DDA) e.V.
</p>
<p>
  Vereinsregister-Nr. 5174 beim Amtsgericht Münster
  <br/>
  Steuernummer 336/5754/4653, Finanzamt Münster-Außenstadt
  <br/>
  USt-IdNr. DE263129470
</p>
<p>
  <b>Förderhinweis</b>
</p>
<p>
  Gefördert vom Förderbereich Bürgerforschung des BMBF: <br/>
  <a href="https://www.bmbf.de/de/citizen-science-wissenschaft-erreicht-die-mitte-der-gesellschaft-225.html" target="_blank"><img src="img/bf_logo.png" title="Bürgerforschung,Wissenschaft im Dialog"></a>
</p>
<p>
  Die Internetpräsenz ornitho-regioportal.de entstand im Rahmen des zwischen
  2018 und 2020 geförderten Forschungsprojekts „Artenvielfalt erleben: Wie
  Naturforschung vor der eigenen Haustür …“. Daran beteiligt waren das
  Leibniz-Institut für Länderkunde (IfL) e.V., das Leibniz-Institut für
  Wissensmedien (IWM) sowie der Dachverband Deutscher Avifaunisten (DDA) e.V.
</p>
<p>
  Gefördert wurde die Entwicklung der Internetpräsenz ebenso wie das
  Forschungsprojekt vom Förderbereich Bürgerforschung des Bundesministeriums
  für Bildung und Forschung (BMBF).
</p>
<p>
  <b>Programmierung und Webdesign</b>
</p>
<p>
  Sebastian Geidel (Leibniz-Institut für Länderkunde (IfL) e.V.) <br/>
  GitHub repo: <br/>
  <a href="https://github.com/ifl-geovis/ornitho-Regioportal" target="_blank"><img src="../img/github.png" title="ifl-geovis github" id="github"></a> 
</p>
<p>
  <b>Bildnachweise</b>
</p>
<p>
  Startseite: Waldkauz, Gunther Zieger <br/>
  Impressum: Schwarzspecht, Mathias Schäf (www.living-nature.eu) <br/>
  Tutorial: Blaumeise, Lukas Thiess (lukasthiess.wordpress.com)
</p>
<p>
  <b>Haftungshinweis</b>
</p>
<p>
  Für Vollständigkeit, Fehler redaktioneller und technischer Art,
  Auslassungen usw. sowie die Richtigkeit der Inhalte wird keine Haftung
  übernommen. Insbesondere wird keine Gewähr für die Vollständigkeit und
  Richtigkeit von Informationen übernommen, die über weiterführende Links
  erreicht werden. Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir
  keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten
  Seiten sind ausschließlich deren Betreiber verantwortlich. Falls Sie Fehler
  inhaltlicher oder technischer Art entdecken, teilen Sie uns dies bitte mit.
</p>
<p>
  <b>Nutzungsbedingungen</b>
</p>
<p>
  Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
  Seiten, insbesondere aber nicht ausschließlich die Struktur der Webseite,
  deren Design, Texte und Karten unterliegen dem deutschen Urheberrecht und
  sind urheberrechtlich geschützt: Copyright, sofern nicht anders angegeben:
  Leibniz-Institut für Länderkunde (IfL) e.V., Leibniz-Institut für
  Wissensmedien (IWM) und Dachverband Deutscher Avifaunisten (DDA) e.V. Alle
  Rechte vorbehalten. Die Vervielfältigung, Bearbeitung, Verbreitung von
  Informationen oder Daten und jede Art der Verwendung außerhalb der Grenzen
  des Urheberrechts, von Texten, Textteilen, Karten, Grafiken oder
  Bildmaterial für private oder gewerbliche Zwecke, bedarf der vorherigen
  Zustimmung des DDA als Träger von ornitho-regioportal.de sowie ggf. des
  Leibniz-Instituts für Länderkunde (IfL) e.V. und des Leibniz-Instituts für
  Wissensmedien (IWM). Downloads und Kopien dieser Seite sind nur für den
  privaten, nicht kommerziellen Gebrauch gestattet.
</p>
<p>
  Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
  werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
  Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
  Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
  entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir
  derartige Inhalte umgehend entfernen.
</p>
