<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="../img/favicon_portal.ico">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.min.css">
    <title>Tutorials</title>
  </head>
  <body>
    <div class="container">
        <table>
          <tr>
            <td>
              <img src="../img/tutorial_header.jpg" alt="Blaumeise" class="responsive">
            </td>
          </tr>
          <tr>
            <td>
              <div class="main">
              <div class="column-grid">
                <div>
                  <nav id="toc">
                    <h2>Inhalt</h2>
                    <li><a href="#pdf">PDF-Dokumentation</a></li>
                    <li><a href="#intro">Einführung in die Benutzeroberfläche</a></li>
                    <li><a href="#ops">Anzeigen der Verbreitung von Vogelarten</a></li>
                    <li><a href="#reports">Interpretieren der Meldeaktivität</a></li>
                    <li><a href="#faq">Häufig gestellte Fragen - FAQ</a></li>
                  </nav>
                </div>
                <div>
                  <p>
                    <h1>Willkommen zum Tutorial!</h1>
                    <div class="tutorial-text">
                      Auf dieser Seite möchten wir Ihnen die Funktionen und Nutzungsmöglichkeiten des Regioportals näher bringen. Zur systematischen Übersicht des Funktionsumfangs steht Ihnen eine bebilderte Anleitung als PDF zur Verfügung. Um das Dokument in einem neuen Tab Ihres Browsers zu öffnen, klicken Sie bitte hier. Für einen schnellen Einstieg in Funktionsweise des Regioportals stehen Ihnen zudem kurze Erklärvideos zur Verfügung. Klicken Sie im jeweiligen Videofenster unten rechts, um das Video als Vollbild anzuzeigen.
                      <p>
                        <a class="button" id="pdf" href="Tutorial_ornitho-Regioportal.pdf" target="_blank"><img src="../img/tutorial_icon.png"></a>
                      </p>
                    </div>
                  </p>
                  <h2 id="intro">Einführung in die Benutzeroberfläche</h1>
                  <p>
                    <div class="tutorial-vid">
                      <iframe src="https://player.vimeo.com/video/402825117" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                    <div class="tutorial-text">
                    Im vorliegenden Video wird die Benutzeroberfläche des Regioportals beschrieben. Die Nutzung grundlegender Funktionen wie die Navigation, die Kartengrundlage und Kartenzusatzfunktionen, wie die Hervorhebung bestimmter topografischer Besonderheiten (z.B. Gewässer),  werden gezeigt.
                    </div>
                  </p>
                  <h2 id="ops">Anzeigen der Verbreitung von Vogelarten</h1>
                  <p>
                    <div class="tutorial-vid">
                      <iframe src="https://player.vimeo.com/video/402824984" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                    <div class="tutorial-text">
                    Das Regioportal verfügt über verschiedene Optionen um die dargestellten Daten nach Vogelart, räumlicher Verbreitung und zeitlicher Verteilung zu filtern. Das vorliegende Video erklärt die Nutzungsmöglichkeiten dieser Einstellungen.
                    </div>
                  </p>
                  <h2 id="reports">Interpretieren der Meldeaktivität</h1>
                  <p>
                    <div class="tutorial-vid">
                      <iframe src="https://player.vimeo.com/video/402825272" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                    <div class="tutorial-text">
                    Eine wichtige Funktionen zur Einschätzung der Zuverlässigkeit der angezeigten Verbreitungsdaten ist die Darstellung der Meldeaktivität. Sie hilft Ihnen zu erkennen, wie häufig an den jeweiligen Orten überhaupt Beobachtungen gemeldet werden. Wie diese Informationen zur Beurteilung der Verlässlichkeit des Vorkommens bzw. Brütens einer Art in einem Rasterfeld genutzt werden können, zeigt dieses Video.
                    </div>
                  </p>
                  <h2 id="faq">FAQ - Häufig gestellte Fragen</h2>
                  <div class="tutorial-text">
                    <div class="faq-container">
                      <div class="faq-header">
                        Welche Browser werden zur Anzeige des ornitho-Regioportals empfohlen?
                      </div>
                      <div class="faq-text">
                        Mozilla Firefox und Google Chrome werden aus Verbreitungs- sowie Kompatibilitätsgründen zur Benutzung empfohlen. Bitte nutzen Sie die neuste Version der Browser und führen dazu ggf. verfügbare Updates durch. Auf anderen Browsern wie Safari oder Microsoft Edge wird das Portal auch laufen, ist aber in der Umgebung nicht vollständig getestet.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                      Warum kann ich in manchen Regionen weit in die Karte hineinzoomen und in anderen nicht?
                      </div>
                      <div class="faq-text">
                      Die Datenbank hinter dem Regioportal umfasst über 50 Millionen Einträge (Stand Oktober 2020), welche für die Kartendarstellung verarbeitet werden müssen. Diese Berechnungen sind zum Zeitpunkt der Veröffentlichung des Regioportals noch nicht abgeschlossen. Die Detailansichten sind daher vorerst nur für folgende Regionen nutzbar: Kreis Bamberg, Kreis Herford, Leipzig (Kreisfreie Stadt) und Münster (Kreisfreie Stadt). Diese Regionen müssen in der Ortsauswahl eingegeben werden, um die höhere Zoomstufe zu aktivieren.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Welche Orte können bei der Ortssuche verwendet werden?
                      </div>
                      <div class="faq-text">
                        Die Ortssuche funktioniert auf Gemeinde- und Kreisebene. Sie können somit sehr viele Ortsnamen direkt in die Suchmaske eingeben, insgesamt ca. 12.000. Falls Sie keinen Treffer landen, wählen Sie bitte den nächstgelegenen größeren Ort.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Wird die Datenbank hinter dem Regioportal in Echtzeit aktualisiert?
                      </div>
                      <div class="faq-text">
                        Grundsätzlich ist das System so konzipiert, dass eine Übertragung der Einträge in ornitho.de (per App oder über die Webseite) nahezu in Echtzeit möglich ist. Es kommt allerdings aufgrund der zu verarbeitenden Datenmengen und der Vielzahl zu aktualisierender Rasterfelder zu einer Verzögerung von wenigen Stunden bis wenigen Tagen (max. 3 Tage bislang).
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Werden die Daten nachgeladen, wenn ich die Karte mit der Maus verschiebe?
                      </div>
                      <div class="faq-text">
                        Wenn Sie bei der Ortssuche keinen Ort angegeben haben, werden die Daten deutschlandweit angezeigt und beim Verschieben der Karte nachgeladen. Bei der Eingabe eines Ortes werden nur die Daten der Region angezeigt. Dies wird empfohlen, um die Ladezeit zu verkürzen.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Weshalb finde ich vor allem seltenere Vogelarten nicht in der Artensuche?
                      </div>
                      <div class="faq-text">
                        Alle Vogelarten, die nur sporadisch auftreten, aber auch alle Unterarten oder Hybriden finden sich bewusst nicht in der Artenauswahl. Hintergrund ist, dass für diese in den meisten Regionen keine Beobachtungen vorliegen, Sie würden also bei einer Abfrage sehr oft eine leere Karte erhalten. Die Reduzierung der Artenliste soll das verhindern. Wenn Sie sich mit Ihrem Login von ornitho.de über den Button oben rechts anmelden, steht Ihnen eine deutlich größere Auswahl an Arten, Unterarten und Hybriden zur Verfügung.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Weshalb kann ich bei manchen Vogelarten nicht so weit in die Karte hineinzoomen wie bei anderen. Es erscheint dann die Information, dass es sich um eine sensible Art handelt. Was meint das genau?
                      </div>
                      <div class="faq-text">
                        Als „sensibel“ werden in diesem Fall Arten bezeichnet, deren Beobachtungsmeldungen in ornitho.de ganzjährig oder zu bestimmten Zeiten, bundesweit oder regional und/oder bei Meldungen mit Hinweisen auf Brutvorkommen automatisch verschlüsselt werden und damit nicht mehr öffentlich sichtbar, sondern nur noch für Personen mit erweiterten Rechten (z.B. Artspezialisten) zugänglich sind. Um den Schutz dieser sensiblen Beobachtungsdaten zu bewahren, wird die Verbreitung dieser Arten nur grob aufgelöst dargestellt. Ein Hineinzoomen ist deshalb nur begrenzt möglich.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Warum werden manche Layer, welche im Webkarten-Menü ausgewählt werden können, nicht geladen?
                      </div>
                      <div class="faq-text">
                        Browsererweiterungen zum Schutz der Privatsphäre (z.B. Privacy Badger) können das Laden mancher Layer verhindern. Sollten entsprechende Darstellungsprobleme auftreten kann es helfen, die Browser-Erweiterung temporär zu deaktivieren.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Kann ich die Verbreitungskarten ausdrucken oder exportieren?
                      </div>
                      <div class="faq-text">
                        Das Regioportal bietet keine eigene Druck- oder Exportfunktion. Es ist jedoch möglich, den Bildschirmausschnitt als Grafik zu speichern. Unter Windows können Sie dazu die App “Snipping Tool” verwenden, unter Mac OSX die Tastenkombination Cmd-Shift-4. Browserseitig wird in Mozilla Firefox standardmäßig eine Funktion „Bildschirmfoto aufnehmen“ angeboten: <a href="https://support.mozilla.org/de/kb/firefox-screenshots" target="_blank">Firefox Screenshots</a>. In Google Chrome gibt es dafür mehrere kostenlose Erweiterungen zum Installieren.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Welchen Zusatznutzen bietet mir die Login-Funktion und wo kann ich mich dafür registrieren?
                      </div>
                      <div class="faq-text">
                        Das Login steht registrierten Nutzern von ornitho.de zur Verfügung. Momentan stehen als zusätzliche Funktionen eine größere Artenliste sowie individualisierbare Zeitintervalle für die angezeigte Verbreitungskarte zur Verfügung. Die Aktivierung der Zusatzfunktionen im Regioportal erfordert zudem ein regelmäßiges Meldeverhalten (ab 10 Meldungen im Monat). Eine Registrierung ist auf ornitho.de jederzeit möglich.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Warum kann ich das Zeitintervall trotz Login nicht gänzlich frei wählen?
                      </div>
                      <div class="faq-text">
                        Im eingeloggten Zustand (und mindestens 10 eigenen Meldungen im Monat) können Sie mit den Dekaden (1 Dekade = 10 Tage) feingliedrige Zeiträume untersuchen. Die Spannweite beträgt dabei maximal 9 Dekaden (90 Tage). Das gewählte Zeitintervall muss zudem innerhalb eines Kalenderjahres liegen.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Wie kann ich selbst Daten zum Portal beitragen?
                      </div>
                      <div class="faq-text">
                        Das Regioportal dient ausschließlich zur Darstellung der in ornitho.de gesammelten Daten. Wenn Sie eigene Beobachtungen beitragen möchten, freuen wir uns sehr darüber. Melden Sie sich hierzu bei <a href="https://www.ornitho.de/index.php?m_id=20030" target="_blank">ornitho.de</a> an.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Wohin kann ich mich wenden, wenn ich weitere Fragen zur Nutzung des Regioportals habe?
                      </div>
                      <div class="faq-text">
                        Haben Sie weder über die Tutorials zum Regioportal noch in den nachfolgenden FAQs eine Antwort auf Ihre Fragen gefunden, so wenden Sie sich bitte an ornitho@dda-web.de. Wir versuchen, Ihre Frage so schnell wie möglich zu beantworten.
                      </div>
                    </div>
                    <div class="faq-container">
                      <div class="faq-header">
                        Wohin kann ich mich wenden, wenn ich Austausch mit Ornithologen in meiner Region suche?
                      </div>
                      <div class="faq-text">
                        Unter <a href="https://www.dda-web.de/index.php?cat=service&subcat=oag" target="_blank">Avifaunistik vor Ort</a> finden Sie eine Übersicht avifaunistischer Gruppen.
                        Alternativ können i.d.R. auch die Regionalkoordinatoren von ornitho.de Auskunft über lokale Ornithologische Arbeitsgemeinschaften und sonstige Aktivitäten geben. Eine Übersicht der ornitho-Regionalkoordinatoren finden Sie <a href="https://www.ornitho.de/index.php?m_id=1124&item=13" target="_blank">hier</a>.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <script type="text/javascript">
        // identify the containers first
        var questions = document.getElementsByClassName('faq-container');
        // loop through each of them
        for (i = 0; i < questions.length; i++) {
            // add an event listener, that toggles the texboxes on and off
            // note, that this breaks when you add more elements below the textbox
            // as it is not the last child of the parent container any more then
            questions[i].addEventListener('click', function() {
                this.lastElementChild.classList.toggle('show');
            });
        };
      </script>
  </body>
</html>
